{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="card mt-10" style="width:30rem;">
    <div class="card-header">
      {{ post.user }}<span class = 'created_at'>{{ post.created_at }}</span> 
    </div>
    <div class="card-body">
      <p class="card-text">{{ post.text }}</p>
      <div class="mt-2 mb-3">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="post_image">
            {% else %}
            {% endif %}
        </div>
        <form method = 'post'>
            {% csrf_token %}
            <input type = 'submit' class = 'bg-red-600 p-2 mt-3 text-white' onclick = 'return alertFunc()' value = '削除する'/>
        </form>
        <script>
            function alertFunc() {
                var del = confirm("本当に削除しますか？");
                if (del == true) {
                    return true;
                } else {
                    location.href = '{% url "timelines:index" %}'
                    return false;
                }
            }
        </script>
    </div>
</div>


{% endblock %}