{% extends 'base.html'%}
{% load static %}

{% block contents %}
<div class="card mt-5" style="width:30rem">
  <div class="card-header ">
    <a href = '{% url "timelines:userpost" post.user.id %}' class = ' mr-4 text-xl text-sky-500'>
    {{ post.user }}
    </a>
    <span class = 'created_at'>{{ post.created_at }}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{ post.text }}</p>
    <div class="mt-2 mb-3">
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="post_image">
      {% else %}

      {% endif %}
        <p class="mt-4">場所：</p><br/>
        <p>費用など：</p>
    </div>
    <p class="flex justify-between">
        <a href = '{% url "timelines:update" post.pk %}' class="bg-sky-500 p-2 px-3 rounded-xl text-white" >更新</a>
        <a href = '{% url "timelines:delete" post.pk %}' class="bg-red-600 p-1 text-white">削除する</a>

    </p>
    <a href = '{% url "timelines:comment" post.pk %}' class ="text-sky-500">コメントを書く</a>
  </div>
</div>

<div class = 'mt-5 text-xl'>
    <h5>コメント一覧</h5>
</div>
{% for comment in post.comment_set.all %}
<div class="card mt-3">
  <div class="card-header ">
    <a href = '{% url "timelines:userpost" comment.user.id %}' class = ' mr-4 text-xl text-sky-500'>
      {{ comment.user }}
    </a>
    <span class = 'created_at'>{{ comment.created_at }}</span>
  </div>
    <div class="card-body">
      <p class="card-text">{{ comment.text }}</p>
      <a class = 'text-sky-500' href = '{% url "timelines:comment" post.pk %}'>返信する</a>
    </div>
  </div>
{% endfor %}
{% endblock %}