{% extends 'base.html' %}
{% block contents %}

<div class = 'inputarea'>
    {% if form.errors %}
        <p style='color: red'>ユーザー名もしくはパスワードに誤りがあります。
            <br>もう一度確認してください。
        </p>
    {% endif %}
    <div class = "resetform">
    <form method = 'post'>
        {% csrf_token %}
        <h1>Password Reset</h1>
        <div class = 'userinfo'>

                <p>
                {{ form }}
                </p>
            
            <input type = 'submit' value = 'リセット' class = 'btn-auth'>
        </div>
    </form>
    <button class='btn_auth' onClick="location.href = '{% url 'accounts:login' %}'">ログインページへ</button>
</div>
</div>

{% endblock %}