{% extends 'base.html' %}

{% block contents %}

<div class = 'inputarea'>
    {% if form.errors %}
        <p style='color: red'>ユーザー名もしくはパスワードに誤りがあります。
            <br>もう一度確認してください。
        </p>
    {% endif %}
    <div class = "form">
    <form method = 'post'>
        {% csrf_token %}
        <h1>Password Reset</h1>
        <h4>Send Reset email</h4>
        <div class = 'userinfo'>
            <div class = 'info'>
                {{ form }}
            </div>
            <input type = 'submit' value = '送信' class = 'btn-auth'>
        </div>
    </form>
    <p><a href = '{% url 'timelines:top' %}'>トップページへ戻る</a></p>
</div>
</div>

{% endblock %}